.custom-container {
  max-width: 500px;
}

.custom-container-2 {
  max-width: 800px;
}

.table-bordered td {
  font-size: 14px;
}


.edit {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 5px 10px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.edit:hover {
    background-color: #45a049; /* Darker green on hover */
}

.delete {
  background-color: #f44336; /* Red background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 5px 10px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.delete:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

.no-data {
  padding-top: 50px;
}

.no-data p {
  font-size: 27px;
  color: rgba(0, 0, 0, .5);
  letter-spacing: .2px;
  padding-bottom: 10px;
}